*{
    background-color: rgb(188, 236, 255);
}

.container{
    background: darkblue;
    height: 600px;
    width: 600px;

}

.child{
    background: red;
    height: 100px;
    width: 100px;
    
}

.container:hover >.child {
    /* transform: translateX(250%) translateY(250%); */
    animation: round 2s ease-in 2;
    animation-direction: alternate;
}

@keyframes round {
    0% {
        transform: translateX(0%);
    }

    100%{
        transform: translateX(500%) translateY(500%);
    }
    
}