*{
    background-color: rgb(188, 236, 255);
}

.container{
    background: darkblue;
    height: 600px;
    width: 600px;

}

.child{
    background: red;
    height: 100px;
    width: 100px;
    animation: round 2s forwards infinite; 
    
}

.container:hover >.child {  
    /* transform: translateX(250%) translateY(250%); */
    /* animation: round 2s forwards infinite; here the last value is for iteration count */
    /* animation-direction: alternate; */
    animation-play-state: paused;
}

@keyframes round { /*states in the animation*/
    0% {
        transform: translateX(0%);
    }
    25%{
        transform: translateX(500%);
    }
    50%{
        transform: translateX( 500%) translateY(500%);
    }    
    75%{
        transform: translateX( 0%) translateY(500%);
    }
    100%{
        transform: translateX( 0%) translateY(0%);

    }
    
}